* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body{
    background-color: #B9B4C7;
    color: #FAF0E6;
}

a {
    text-decoration: none;
    padding: 0.5rem;
    color: whitesmoke;
    font-weight: bold;
}
a:hover{
    color: #B8B2C7;
    font-style: italic;
}

ul {
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.hidden{
    display: none !important; /* !important method is useful for class priorities */
}


nav {
    position: fixed;
    background-color: #352F44;
    box-shadow: 4px 1px 4px rgba(0 , 0 ,0 ,0.3);
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left{
    width: 50%;
    display: flex;
    justify-content: center;
}

.nav-left h1 {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-right{
    display: flex;
    justify-content: end;
    width: 50%;
    margin-right: 3rem;
}

.nav-right a{
    padding: 2rem;
}

.middle-page{
    margin-top: 9.9vh;
    display: flex;
}

.home h1{
    margin-top: 1rem;
}

.home-content{
    padding: 0 2rem;
    display: flex;
    text-align: center;
}

#home-p{
    padding: 1.5ssswrem;
    font-size: 1.2rem;
}

#uni-img{
    width: 20rem;
    height: 10rem;
    border: 4px solid #352F44;
    margin-right: 4rem;
    margin-top: 1.5rem;
}

.content-holder{
    height: 85vh;
    width: 90vw;
    overflow: auto;
    text-align: center;
    color: #303030;
    height: 74vh;
}

.table-div {
    display: flex;
    justify-content: center;
}

.table{
    border: 3px solid #352F44;
    font-style: italic;
}

#students-table{
    width: 60vw;
    height: 100vh;
}

#coursesTable{
    width: 80%;
    height: 25vh;
}

.buttons{
    margin: 1rem;
}

.btn{
    border: none;
    padding: 1.2rem 1.4rem;
    border-radius: 0.4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    margin: 0 1% 0 1rem;
    width: 14vw;
}

.btn:hover{
    font-style: italic;
    font-weight: bold;
}

.add-btn{
    background-color: #036528;

}

.add-btn:hover{
    background-color: #157C3B;

}

.update-btn{
    background-color: #2E0D45;
}

.update-btn:hover{
    background-color: #46205F;
}

.delete-btn{
    background-color: #420000;
}

.delete-btn:hover{
    background-color: #8E2929;
}

.courses{
    padding: 1rem;
}

.students{
    padding: 1rem;
}


.faculties{
    padding: 1rem;
}

.left-bar{
    margin-top: 0.05rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #49415c;
    width: 10vw;
    height: 74vh;
}

.left-bar ul {
    margin-top: 2rem;
}

.left-bar ul li{
    padding: 1rem;
    text-align: center;
}
.left-bar li:hover{
    background-color: #5C5470;
    box-shadow: 0px 0px 1rem rgba(0 , 0 , 0 , 0.4);
    font-style: italic;
}

.left-bar ul li.subbutton{
    padding: 0.2rem !important; /* class priority */
    background-color: #5C5470;
    border: 0.1px solid #443e53;
    font-size: 0.9rem;
}

.footer{
    background-color: #5C5470;
    box-shadow: 1px 13px 13px 0.5rem rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9rem;
    width: 100%;
    height: 15vh;
    
}

.footer ul li{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.list-header{
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 1px solid whitesmoke;
}

.copy-right-bar{
    text-align: center;
    background-color: #303030;
    font-style: italic;
    font-size: 0.4rem;
    bottom: 0;
    height: 1vh;
}



/* Form CSS Codes */



/* Add Student Form */
.form-border {
    display: flex;
    border: 1px solid #7B7187;
    background-color: #7B7187;
    margin: 2rem auto;
    border-radius: 0.5rem;
    flex-direction: column;
    justify-content: space-around;
    width: 50vw;
    max-height: 70vh;
}

.form-border p {
    color: #FAF0E6;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.form-tag {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    text-align: center;
    padding: 0 2rem;
}

.form-tag h2 {
    color: #352F44;
}

select {
    width: 70%;
    background-color: #B9B4C7;
    padding: 0.5rem;
    margin: 0.5rem 0;
    color: #3e3549;
}

select:focus{
    background-color: #B9B4C7;
}

input[type="text"]{
    border: none;
    border-bottom: 1px solid #606060;
    background-color: #B9B4C7;
    padding: 0.5rem;
}

input[type=text]:focus{
    border: none;
    background-color:#D0C4DD;
}

input[type=text]:enabled{
    border: none;
}

input[type=submit] {
    display: flex;
    border: none;
    color: #3e3549;
    padding: 0.8rem 2rem;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: #B9B4C7;
}

input[type=submit]:hover {
    background-color:#3e3549;
    color: #f1f1f1;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
}


.input-holder {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 70%;
    margin: 1rem auto 0 auto;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.input p {
    margin: 0;
    text-align: center;
}

.select-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.select-holder label {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.select-holder p {
    text-align: center;
}

.button-holder{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

/* Update Student Form */

