* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body{
    background-color: #B9B4C7;
    color: #FAF0E6;
}

a {
    text-decoration: none;
    padding: 0.5rem;
    color: whitesmoke;
    font-weight: bold;
}
a:hover{
    color: #B8B2C7;
    font-style: italic;
}

ul {
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}


nav {
    position: fixed;
    background-color: #352F44;
    box-shadow: 4px 1px 4px rgba(0 , 0 ,0 ,0.3);
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left{
    width: 50%;
    display: flex;
    justify-content: center;
}

.nav-left h1 {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-right{
    display: flex;
    justify-content: end;
    width: 50%;
    margin-right: 3rem;
}

.nav-right a{
    padding: 2rem;
}

.middle-page{
    margin-top: 9.9vh;
    display: flex;
}

.content-holder{
    height: 85vh;
    width: 84vw;
    overflow: auto;
    text-align: center;
    color: #303030;
    height: 72.5vh;
}

.courses{
    padding: 1rem;
}

.students{
    padding: 1rem;
}

.faculties{
    padding: 1rem;
}

.left-bar{
    margin-top: 0.05rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #352F44;
    width: 16vw;
    height: 72.5vh;
}

.left-bar ul {
    margin-top: 2rem;
}

.left-bar ul li{
    border: 1px solid #5C5470;
    padding: 1rem;
    text-align: center;
}
.left-bar li:hover{
    background-color: #524A67;
    box-shadow: 0px 0px 1rem rgba(0 , 0 , 0 , 0.4);
    font-style: italic;
}

.footer{
    background-color: #5C5470;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9rem;
    width: 100%;
    height: 15vh;
    
}

.footer ul li{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.list-header{
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 1px solid whitesmoke;
}

.copy-right-bar{
    text-align: center;
    background-color: #303030;
    font-style: italic;
    bottom: 0;
    height: 2.5vh;
}

